<div class="header-top">
    <div class="container">
        <div class="row col-det">
            <div class="col-lg-6 d-none d-lg-block">
                <ul class="ulleft">
                    <li>
                        <i class="far fa-envelope"></i>
                        sales@smarteyeapps.com
                        <span>|</span></li>
                    <li>
                        <i class="far fa-clock"></i>
                        Service Time : 12:AM</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-12">
                <ul class="ulright">
                    <li>
                        <a href="/">  <li>
                            <i class="fas fa-home"></i>
                            home</li></a>
                  <a href="/login">  <li>
                        <i class="fas fa-user"></i>
                        Login</li></a>
                </ul>
            </div>
        </div>
    </div>
</div>